<!doctype html>
<html class="no-js" lang="">

{{ partial "head.html" . }}

<body>
    {{ `<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->` | safeHTML }}

  <!-- Add your site or application content here -->
    <div class="flex-column">
        {{ partial "banner.html" . }}
        <div class="home">
            <div class="logo">
                <h1><a href="/">{{.Site.Title}}</a></h1>
            </div>
            {{ partial "nav.html" . }}
            <div>
                <article>
                    <h2 class="green">{{ .Title }}</h2>
                    <div class="em">{{ .Content | safeHTML }}</div>
                    <br />
                <article>
                <div class="line-dotted"></div>
                {{ template "_internal/disqus.html" . }}
                <div class="line-dotted"></div>
            </div>
            {{ partial "footer.html" . }}
        </div>
        {{ partial "banner.html" . }}
    </div>


  {{ partial "foot.html" . }}
</body>
</html>
