<!doctype html>
<html class="no-js" lang="">

{{ partial "head.html" . }}

<body>
    {{ `<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->` | safeHTML }}

  <!-- Add your site or application content here -->
    <div class="flex-column">
        {{ partial "banner.html" . }}
        <div class="home">
            <div class="logo">
                <h1><a href="/">{{.Site.Title}}</a></h1>
            </div>
            {{ partial "nav.html" . }}
            <div>
                <article>
                  {{ if .Pages }}
                  <h3>{{ replace (replace (replace (replace .Name "-" " " | title) "Bl" "BL Novels") "Ml" "ML Novels") "Mc" "MC Novels" }}</h3>
                  <ul>
                    {{ $notnovel := true }}
                    {{ range .Pages.ByTitle }}
                      {{ if not (or ( in .Title "chapter") ( in .Title "Chapter")) }}
                        <li><a class="green-link" href="{{ .RelPermalink }}">{{ replace (replace (replace (replace .Name "-" " " | title) "Bl" "BL") "Ml" "ML") "Mc" "MC" }}</a></li>
                        {{ $notnovel = false }}
                      {{ else if $notnovel }}
                      <li><a class="green-link" href="{{ .RelPermalink }}">{{ replace (replace (replace (replace .Name "-" " " | title) "Bl" "BL") "Ml" "ML") "Mc" "MC" }}</a></li>
                      {{ end }}
                    {{ end }}
                  </ul>
                  {{ end }}
                </article>     
            </div>
            <br>
            <div class="line-dotted"></div>
            {{ partial "footer.html" . }}
        </div>
        {{ partial "banner.html" . }}
    </div>


  {{ partial "foot.html" . }}
</body>
</html>
