<!doctype html>
<html class="no-js" lang="en">

{{ partial "head.html" . }}

<body>
    {{ partial "ld-check.html" . }}
    {{ `<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->` | safeHTML }}

  <!-- Add your site or application content here -->
    <div class="flex-column">
        {{ partial "banner.html" . }}
        <div class="home">
            <div class="logo">
                <h1><a href="/">{{.Site.Title}}</a></h1>
            </div>
            {{ partial "nav.html" . }}
            <div>
                {{ $pages := where site.RegularPages "Type" "in" "pin" }}
                {{ range (.Paginate $pages 20).Pages }}
                    <article>
                        <h3><a href="{{ .RelPermalink }}">&#187; {{ .Title }}</a></h3>
                        <div class="em">{{ .Summary }}</div>
                        <div class="less align-right">
                            <time>{{ .PublishDate.Format "January 2, 2006" }}</time>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{ .ReadingTime }} minute read&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="pagelink" href="{{ .RelPermalink }}">Read More &gt;&gt;</a>
                        </div>
                    </article>
                {{ end }}
            </div>
            <br>
            <div class="line-dotted"></div>
            {{ partial "footer.html" . }}
        </div>
        {{ partial "banner.html" . }}
    </div>


  {{ partial "foot.html" . }}
</body>
</html>
